* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(126, 126, 79);
}

h1 {
  color: #ffffff;
  font: cursive;
}

h3 {
  font-weight: bold;
  color: blue;
}

h6{
    color:  white;
    font-size: 5rem;
}
